:root {
    --darbrown: #5c0006;
    --green: #95ab13;
    --yellow: #f09902;
    --orange: #c45402;
    --brown: #782f00;
  }

.parent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

.title h1 {
    font-size: 70pt;
    color: var(--yellow);
}

.title {
    position: absolute;
    top: 100px;
    text-align: center;
    color: var(--yellow);
}

.image {
    background-color: var(--brown);
    width: 75%;
    height: 300px;
    box-sizing: border-box;
    border-radius: 200px 200px 20px 20px;
    border-bottom: 10px solid var(--darbrown);
    border-top: 15px solid var(--orange);
    display: flex;
    justify-content: center;
}

.description {
    background-color: var(--green);
    font-size: 20pt;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px 10px 100px 100px;
}

.trucks {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: flex-start;
}

.bottom {
    background-color: var(--brown);
    width: 75%;
    height: 200px;
    box-sizing: border-box;
    border-radius: 20px 20px 200px 200px;
    border-bottom: 10px solid var(--darbrown);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
    color: var(--green);
    text-decoration: underline;
}

.cheese {
    width: 100%;
    border-radius: 5px;
    align-content: center;
    height: 15px;
    background-color: var(--yellow);
}

.patty {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    background-color: var(--darbrown);
}

.thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    opacity: 35%;
    box-sizing: border-box;
    margin: 10px;
}

.words {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px;
    color: var(--yellow);
}

.highlight {
    width: 100%;
    background-color: var(--brown);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 20px 20px 5px 5px;
}

p {
    margin: 0;
    padding: 0;
}