:root {
    --darbrown: #5c0006;
    --green: #95ab13;
    --yellow: #f09902;
    --orange: #c45402;
    --brown: #782f00;
}

.pageDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.green {
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: var(--green);
    border-radius: 50px;
}

.yellow {
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: var(--yellow);
    border-radius: 50px;
}

.orange {
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: var(--orange);
    border-radius: 50px;
}

.img {
    border-radius: 50px;
}

.label {
    position: absolute;
    top: 25px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--orange);
    width: 50%;
    max-width: 400px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
}

.infoDiv {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 425px;
}

.descriptionDiv {
    width: 50%;
}

.contactDiv {
    width: 30%;
}

.buttons {

}

.photosDiv {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-height: 300px;
}

.photosDiv img {
    max-height: 400px;
}

.photosDiv li img {
    max-width: 200px;
}

.reviewsDiv {

}