:root {
  --darbrown: #5c0006;
  --green: #95ab13;
  --yellow: #f09902;
  --orange: #c45402;
  --brown: #782f00;
}

body {
    font-family: 'Londrina Solid', cursive;
    padding: 64px;
    font: 14px;
    /* font-family: "Montserrat", sans-serif; */
    /* background-size: cover; */
    background-color: bisque;
  }
  
  a {
    color: #00b7ff;
    /* Added no text decoration here... can take off everywhere else in document */
    text-decoration: none;
  }
  
  button:focus {
    outline: none;
  }
  input:focus {
    outline: none;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  ol,
  li,
  span,
  body,
  header,
  nav {
    /* font-size: 1rem; */
    color: inherit;
    /* background-color: transparent; */
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
  }
