:root {
    --darbrown: #5c0006;
    --green: #95ab13;
    --yellow: #f09902;
    --orange: #c45402;
    --brown: #782f00;
}

.form_parent {
    background-color: var(--green);
    position: relative;
    display: flex;
    justify-content: center;
}

.form {
    background-color: var(--yellow);
    border-radius: 20px;
    box-sizing: border-box;
    margin: 100px;
    padding: 20px;
}

.form_child {
    background-color: var(--orange);
    border-radius: 10px;
    height: 10px;
    width: 0 auto;
    margin: 10px;
    padding: 20px;
}