.nav_parent {
    width: 100%;
    background-color: grey;
}

.nav {
    box-sizing:border-box;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.link {
    box-sizing: border-box;
    border: 1px solid black;
}